.ipynb_checkpoints
mental-health-redistribution-firebase-adminsdk-j3xlw-dc800ae824.json
mental-health-redistribution-firebase-adminsdk-j3xlw-b31f34af10.json
mental-health-redistribution-firebase-adminsdk-j3xlw-617de04f19.json